<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Spring dnd tools - Armies </title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

</head>

<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(armies)}">
        <h2> Army Lists</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Player id</th>
                <th>Army size</th>
                <th>Army Soldiers</th>

            </tr>
            <tr th:each="ch : ${armies}">
                <td th:text="${ch.id}"></td>
                <td th:text="${ch.playerId}"></td>
                <td th:text="${ch.units.size()}"></td>
                <td th:text="${ch.units.get(0).getType()}"></td>

                <td> <a th:href="${'/army/' + ch.id}">View</a> </td>
                <td> <a th:href="${'/army/edit/' + ch.id}">Edit</a> </td>
                <td> <a th:href="${'/army/delete/' + ch.id}">Delete</a> </td>
            </tr>

        </table>

        <div class="row">
            <div class="col-sm-3">
                <a th:href="${'/army/new'}"> New Army</a>
            </div>
        </div>

    </div>

</div>
</body>
</html>
