<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Spring dnd tools - Battle </title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

</head>

<body>
<div class="container">
    <div>
        <div class="menu">
            <h2> Menu</h2>
            <table class="table table-striped">
                <tr>
                    <th> <a th:href="${'/armies'}">Armies</a> </th>
                    <th> <a th:href="${'/soldiers'}">Soldiers</a> </th>
                    <th> <a th:href="${'/battleRound'}">Battle</a> </th>

                </tr>
            </table>
        </div>

        <div th:if="${not #lists.isEmpty(armies)}">
            <h2> Army Lists</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Player id</th>
                    <th>Army size</th>
                    <th>Army Soldiers</th>

                </tr>
                <tr th:each="ch : ${armies}">
                    <td th:text="${ch.id}"></td>
                    <td th:text="${ch.playerId}"></td>
                    <td th:text="${ch.units.size()}"></td>
                    <td th:if="${ch.units[1] != null && ch.units[1].type != null}" th:text="${ch.units[1].type}">Dead</td>
                    <!--<td th:text="${ch.units[1].type}"></td>-->
                </tr>
            </table>
        </div>


        <div th:if="${not #lists.isEmpty(logs)}" >
            <h2> Logging</h2>
            <div style="height:600px;overflow:auto;">
            <table class="table table-striped" >
                <tr>
                    <th>Severity</th>
                    <th>Log</th>

                </tr>
                <tr th:each="ch : ${logs}">
                    <td th:text="${ch.severity}"></td>
                    <td th:text="${ch.text}"></td>
                </tr>
            </table>
            </div>
        </div>

    </div>

</div>
</body>
</html>
