<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>DnD battle</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

</head>

<body>
<div class="container">
    <div class="menu">
        <h2> Menu</h2>
        <table class="table table-striped">
            <tr>
                <th> <a th:href="${'/armies'}">Armies</a> </th>
                <th> <a th:href="${'/soldiers'}">Soldiers</a> </th>
                <th> <a th:href="${'/battle'}">battle</a> </th>


            </tr>
        </table>
    </div>

    <div class="something">
        <p th:text="'Hello' +' and welcome '+ '!'" />
    </div>

</div>
</body>
</html>
